
#first{
    border: 2.5px solid red;
    height: auto;
    margin: 20px;
    background-color:yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    /* text-align: center; */
    

}

input:hover{
    background-color: aliceblue;
}

input{
    background-color:white;
    margin: 10px;
    padding: 8px;
    border-radius: 25px;

    
}
label{
    color: black;
}

button {
    background-color:blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

form{
    /* padding: 10px 15px 16px 15px; */
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 10px;
}

#st{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

button:hover{
    background-color: blueviolet;
    cursor: pointer;
}

h1{
    text-align: center;
    
}

hr{
    color: skyblue;

}